RewriteEngine On
RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]


<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /vvf_ci/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

# RewriteEngine On
# RewriteCond %{HTTPS} off [OR]
# RewriteCond %{HTTP_HOST} !^www\. [OR]
# RewriteCond %{HTTP_HOST} ^fruiteefy\.fr [NC]
# RewriteRule ^ https://www.fruiteefy.fr%{REQUEST_URI} [R=301,L,NE]
# RewriteCond %{THE_REQUEST} ^[A-Z]+\ /index\.php(/[^\ ]*)?\ HTTP/ 
# RewriteRule ^index\.php(/(.*))?$ fruiteefy.fr/$2 [R=301,L]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php/$1 [L]


# php_value upload_max_filesize 200M
# php_value post_max_size 200M